<%- include('./../common/navbar')%>
  <div class="main-content" id="panel">
    <%- include('./../common/header')%>
      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <%- include('./../common/location') %>
              <!-- Page content -->
              <div class="row">
                <div class="col-xl-4 order-xl-2">
                  <div class="card">
                    <div class="card-header">
                      <div class="row align-items-center">
                        <div class="col-12">
                          <h3 class="mb-0">Timeline</h3>
                        </div>
                        <!-- <div class="col-8 text-right">
                          <a href="#" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus"></i> Schedule Interview
                          </a>
                        </div> -->
                      </div>
                    </div>
                    <div class="card card-stats">
                      <!-- Card body -->
                      <div id="timelineCards"></div>
                      <div class="card-body">
                        <p class="text-center">
                          <a href="#" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus"></i> Schedule Interview
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                  <div class="card">
                    <div class="card-header">
                      <div class="row align-items-center">
                        <div class="col-8">
                          <h3 class="mb-0">Applicant Profile
                            <a href="#" class="text-warning">
                              <small>( <i class="fa fa-paperclip"></i> View Attached CV)</small>
                            </a>
                          </h3>
                        </div>
                        <div class="col-4 text-right">
                          <div id="status"></div>
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-12 text-right">
                          <a href="#" class="btn btn-sm btn-success">
                            <i class="fa fa-check"></i> Select
                          </a>
                          <a href="#" class="btn btn-sm btn-danger">
                            <i class="fa fa-times"></i> Reject
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="alert alert-default" role="alert">
                        <span class="alert-icon"><i class="fa fa-bullhorn"></i></span>
                        <span class="alert-text"><strong>HR Feedback!</strong> This is the final feedback filled by HR Department</span>
                      </div>
                      <form>
                        <h6 class="heading-small text-muted mb-4">Applicant information</h6>
                        <div class="pl-lg-4">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="form-group">
                                <label class="form-control-label" for="input-username">Name</label>
                                <label id="name" class="form-control">{{NAME}}<label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="form-control-label" for="category">Category</label>
                                <label id="category" class="form-control">{{CATEGORY}}<label>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="form-control-label" for="experience">Experience</label>
                                <label id="experience" class="form-control">{{EXPERIENCE}}<label>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="form-control-label" for="noticePeriod">Notice Period</label>
                                <label id="noticePeriod" class="form-control">{{NOTICE PERIOD}}<label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="appliedFor">Applied For</label>
                                <label id="appliedFor" class="form-control">{{APPLIED FOR}}<label>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="appliedOn">Applied On</label>
                                <label id="appliedOn" class="form-control">{{APPLIED ON}}<label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="pl-lg-4">
                          <div class="form-group">
                            <label class="form-control-label">Bio</label>
                            <textarea rows="4" class="form-control" id="bio"
                              placeholder="A few words about you ..."></textarea>
                          </div>
                        </div>
                        <div class="pl-lg-4">
                          <div class="form-group">
                            <label class="form-control-label">Skills</label>
                            <textarea rows="4" class="form-control" id="skills" placeholder="My skills ..."></textarea>
                          </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Contact informations</h6>
                        <div class="pl-lg-4">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="email">Email Id</label>
                                <label id="email" class="form-control">{{EMAIL}}<label>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="mobile">Mobile</label>
                                <label id="mobile" class="form-control">{{MOBILE}}<label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="country">Country</label>
                                <label id="country" class="form-control">{{COUNTRY}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">Other informations</h6>
                        <div class="pl-lg-4">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="referrerEmployeeID">Referrer</label>
                                <label id="referrerEmployeeID" class="form-control">{{REFERRER}}<label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <%- include('./detailsModal')%>
    <input type="hidden" name="" id="applicationId" value="<%= applicationId%>">

    <script>
      var token = '';
      var applicationId = ''
      $(() => {
        token = window.localStorage.getItem('token');
        // console.log(token);
        applicationId = $("#applicationId").val() || '';
        // console.log(applicationId);
        fetchCandidateProfile();
        fetchCandidateTimeline();
      });
      function fetchCandidateProfile() {
        $.ajax({
          type: "GET",
          url: "/applications/api/v1/" + applicationId,
          beforeSend: function (xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + token);
          },
          success: function success(result) {
            console.log(result);
            result = result.data;
            $("#name").text(result.name);
            $("#email").text(result.email);
            $("#mobile").text(result.mobile);
            $("#bio").text(result.applicantBio);
            $("#experience").text(result.experience + '+ yrs');
            $("#noticePeriod").text(result.noticePeriod + ' days');
            $("#category").text(result.category);
            $("#appliedFor").text(result.appliedFor);
            var appliedSince = moment(result.appliedOn, 'DD/MM/YYYY').toNow();
            $("#appliedOn").text(result.appliedOn + ' (' + appliedSince + ')');
            $("#country").text(result.country);
            $("#skills").text(result.skills);
            $("#referrerEmployeeID").text(result.referrerEmployeeID);
            $("#category").text(result.category);
            if (result.statusCode == 0) {
              $("#status").html('<label class="text-info"><i class="fa fa-circle"></i> ' + result.status + '</label>');
            } else if (result.statusCode == 1 || result.statusCode == 2 || result.statusCode == 3) {
              $("#status").html('<label class="text-warning"><i class="fa fa-circle"></i> ' + result.status + '</label>');
            } else if (result.statusCode == 4) {
              $("#status").html('<label class="text-success"><i class="fa fa-circle"></i> ' + result.status + '</label>');
            } else if (result.statusCode == 5) {
              $("#status").html('<label class="text-danger"><i class="fa fa-circle"></i> ' + result.status + '</label>');
            }
          },
          error: function error(error) {
            console.log(error, 'error');
            // $('.custom-container').noty({text: error.responseText.message});
            errorNotification(error.responseJSON.message);
          }
        })
      }

      function fetchCandidateTimeline() {
        $("#timelineCards").html('');
        $.ajax({
          type: "GET",
          url: "/applications/api/v1/timeline/" + applicationId,
          beforeSend: function (xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + token);
          },
          success: function success(result) {
            console.log(result);
            if (typeof result.data !== Object) {
              result = result.data;
              var cards = '';
              result.map((i) => {
                let status = '';
                let detailsBtn = '';
                let scores = '';
                if (i.statusCode == 0) {
                  status = '<span class="text-primary mr-2">' + i.status + '.</span>'
                } else if (i.statusCode == 1) {
                  status = '<span class="text-success mr-2">' + i.status + '.</span>';
                  scores = '<div class="row"><div class="col"><div class="card-profile-stats d-flex justify-content-center"><div> <span class="heading">' + i.logicalAbility + '</span> <span class="description">Logical</span></div><div> <span class="heading">' + i.communication + '</span> <span class="description">Comm.</span></div><div> <span class="heading">' + i.attitude + '</span> <span class="description">Attitude</span></div></div></div></div><div class="row"><div class="col"><p>' + i.feedback + '</p></div></div>';
                } else if (i.statusCode == 2) {
                  status = '<span class="text-danger mr-2">' + i.status + '.</span>';
                  scores = '<div class="row"><div class="col"><div class="card-profile-stats d-flex justify-content-center"><div> <span class="heading">' + i.logicalAbility + '</span> <span class="description">Logical</span></div><div> <span class="heading">' + i.communication + '</span> <span class="description">Comm.</span></div><div> <span class="heading">' + i.attitude + '</span> <span class="description">Attitude</span></div></div></div></div><div class="row"><div class="col"><p>' + i.feedback + '</p></div></div>';
                }
                cards += '<div class="card-body"><div class="row"><div class="col"><h5 class="card-title text-uppercase text-muted mb-0">' + i.round + '</h5> <span class="h2 font-weight-bold mb-0">' + i.interviewerName + '</span></div>' + detailsBtn + '</div>' + scores + '<p class="mt-3 mb-0 text-sm"> ' + status + ' <span class="text-nowrap">' + i.date + ' <small> (Slot: ' + i.scheduledSlot + ') </small></span></p></div>';
                scores = '<div class="row"><div class="col"><div class="card-profile-stats d-flex justify-content-center"><div> <span class="heading">' + i.logicalAbility + '</span> <span class="description">Logical</span></div><div> <span class="heading">' + i.communication + '</span> <span class="description">Comm.</span></div><div> <span class="heading">' + i.attitude + '</span> <span class="description">Attitude</span></div></div></div></div>'
              });
              $("#timelineCards").html(cards);
            } else {
              $("#timelineCards").html('<div class="card-body"><p class="text-center">' + result.data + '</p></div>');
            }
          },
          error: function error(error) {
            console.log(error, 'error');
            // $('.custom-container').noty({text: error.responseText.message});
            errorNotification(error.responseJSON.message);
          }
        })
      }
    </script>